body {
	text-align: center;
	background-color: rgb(135, 110, 215);
	font-family: monospace;
	font-weight: 100;
}

p {
	margin: 0;
}

.countdown-title {
	color: rgb(57, 20, 175);
	font-weight: 100;
	font-size: 40px;
	margin: 40px 0px 20px;
}

.countdown {
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

.countdown-number {
	padding: 10px;
	border-radius: 3px;
	background-color: rgb(106, 72, 215);
	display: inline-block;
}

.countdown-time {
	padding: 15px;
	border-radius: 3px;
	background-color: rgb(65, 44, 132);
	display: inline-block;
}

.countdown-text {
	display: block;
	padding-top: 5px;
	font-size: 16px;
}

.message {
	color: rgb(57, 20, 175);
	font-weight: 400;
	font-size: 28px;
}

button {
	margin: 10px 10px 0px 10px;
	padding: 5px 10px;
	border-radius: 5px;
	border: 2px solid rgb(65, 44, 132);
	background-color: #fff;
	font-family: monospace;
}

.start {
	font-size: 18px;
	margin-top: 30px;
	padding: 10px 25px;
}

.stop {
	display: none;
	font-size: 18px;
	padding: 10px 25px;
	margin-top: 30px;
}

.buttons {
	margin-top: 20px;
}
